     /*
reast
***********************************/
*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 1rem;
}
a{
	// color: $link-color;
    text-decoration: none;
	&:hover,&:focus,&:active{
		text-decoration: none;
		outline: none;
	}
}
h1 {
    font-size: 2.25rem;
  }
  
  h2 {
    font-size: 1.875rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.125rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  p {
    font-size: .938rem;
  }
h1, h2, .h3, h4, h5, h6{
	margin: 0;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    color: inherit;
}
body{
    line-height: 1.5;
    background: #25112A;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}


// vh to px
$screenwidth: 750;
@function pxToVw($n) {
  	@return unquote($n * 100/$screenwidth+'vw');
}

// 全域共用
.img-responsive{
    max-width: 100%;
    height: auto;
}

.fullPage{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-attachment:scroll;
    background: url("../images/bg.webp") no-repeat center/cover;
    @media (max-width:1024px) {
        background: url("../images/bg-mob.webp") no-repeat center/cover;
    }
}



.app-download{
    position: relative;
    min-height: 75vh;
    padding: 3vw 5.6vw 2vw;
    z-index: 10;
    @media (max-width:1024px) {
        text-align: center;
        justify-content: center;
    }
}
.logo-box{
    // padding: .5rem;
    margin-bottom: 1.5rem;
    .logo{
        height: 56px;
        @media (max-width:568px) {
            height: auto;
        }
    }
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1220px;
    margin: 0 auto;
    @media (max-width:1024px) {
        flex-direction: column;
    }
}
.content-left{
    flex: 0 0 40%;
    max-width: 40%;
}
.content-right{
    flex: 0 0 60%;
    max-width: 60%;
}
.content-left,.content-right{
    @media (max-width:1024px) {
        flex: 0 0 100%;
        max-width: 100%;
    }  
}


.title-box,.qrcode-group{
    margin-bottom: 2rem;
}
.title-box{
    .title{
        letter-spacing: 4px;
        color: #fff;
        font-size: 56px;
        @media (max-width:568px) {
            font-size: pxToVw(64);
        }
    }
    .desc{
        font-size: 24px;
        color: #9B5ECA;
        @media (max-width:568px) {
            font-size: pxToVw(40);
        }
    }
}
.download-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    @media (max-width:1024px) {
        flex-direction: column;  
    }
    .btn-group{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.5rem;
        .btn+.btn{
            margin-left: 1.5rem;
        }
        @media (max-width:568px) {
            flex-direction: column;  
            .btn+.btn{
                margin: 0;
                margin-top: 1.5rem;
            }
        }
    }
    .qrcode-group{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width:1024px) {
            margin: 1rem;
        }
        @media (max-width:568px) {
            display: none;
        }
        .qrcode{
            width: 6rem;
            height: auto;
        }
        .desc{
            color: #a7a7a7;
        }
    }
}

.icon-ios{
    display: flex;
    align-items: center;
    margin-right: .5rem;
    &::after{
        content: " ";
        background-image: url("../images/icon-apple.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        width:24px;
        height: 24px;
        transition: all .3s; 
    }
}
.icon-android{
    display: flex;
    align-items: center;
    margin-right: .5rem;
    &::after{
        content: " ";
        background-image: url("../images/icon-android.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: inline-block;
        width:24px;
        height: 24px;
    }
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    font-size: 1rem;
    transition: all .15s ease-out;
    border-radius: 36px;
    width: 200px;
    max-width: 100%;
    background: linear-gradient(180deg, #FF55DA 0%, #7A33EE 100%);
    color: #fff;
    @media (max-width:568px){
        margin: 0;
        margin-top: 1.5rem;
        // display: inline-block;
        padding: .75rem 1rem;
        // width: 100%;
    }
    &:hover{
        transform: scale(.95);
    }
}
